---
import Container from '@components/container.astro'
import PageTitle from '@components/page-title.astro'
import PostList from '@components/post-list.astro'
import type { Author } from '@data/authors'
import { authors } from '@data/authors'
import Layout from '@layouts/Layout.astro'
import { latestPosts } from '@utils/content'

type BlogPost = (typeof latestPosts)[number]

interface Props {
  author: Author
  posts: BlogPost[]
}

export function getStaticPaths() {
  const map: Record<string, BlogPost[]> = {}

  authors.forEach((author: Author) => {
    map[author.slug] = latestPosts?.filter(
      (post) => post?.data?.author === author?.slug,
    )
  })

  return authors?.map((author) => ({
    params: {
      author: author?.slug,
    },
    props: {
      posts: map[author?.slug],
      author: author,
    },
  }))
}

const { author, posts } = Astro.props
---

<Layout
  title={`Posts by ${author.name} in AI systems and engineering`}
  desc={`Read posts by ${author.name} on Jeremy London's blog.`}>
  <Container>
    <main class="max-w-full w-full">
      <PageTitle>
        <Fragment slot="title">
          {author.name}
        </Fragment>
        <Fragment slot="desc">
          Writing by {author.name}.
        </Fragment>
      </PageTitle>
      <div class="grid gap-x-10 gap-y-12 mt-10 md:grid-cols-2">
        {posts.map((post) => <PostList post={post} aspect="square" />)}
      </div>
    </main>
  </Container>
</Layout>
